# Auto detect text files and perform LF normalization
* text=auto

# Ignore Python language for repo preview (only used for post-processing)
*.julia linguist-detectable=true
*.python linguist-language=Julia
